pyttsx3
pyaudio
SpeechRecognition
numpy
nltk
tensorflow
google-api-python-client
pywhatkit
datetime
random
keyboard
geocoder
datetime
wikipedia
playsound==1.2.2
gtts
dateparser
googletrans
feedparser
translate
protobuf==3.20.*
tf-nightly